<!DOCTYPE html>
<html>
<head>
  <title>App3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
<%= link_to "Home", home_path %>
<%= link_to "About", about_path %>
<%= link_to "Contact", contact_path %>
<%= link_to "Press", press_path %>
</nav>


<%= yield %>

</body>
</html>
